<!doctype html>
<html lang="en">
  <head>
    <title>Changing Nature of Work in the USA</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html">Changing Nature of Work in the USA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="page.html">Blank Page</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/data">Data</a>
                    </li>
                  </ul>
                  <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form> -->
            </div>
        </nav> 
        <!-- End Nav -->
        <!-- Begin Container -->
        <div class="container">
            <!-- Top Section -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>The Changing Nature of Work in the USA</h2>
                    <h4>Employment numbers by sector and state 2007-2017</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <!-- Start Facts Card -->
                <div class="col-md-3">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                      <!-- <img class="card-img-top" src="holder.js/100px180/" alt=""> -->
                      <div class="card-header">Quick Facts 2017</div>
                      <div class="card-body">
                        <h6 class="card-subtitle text-muted">Largest Sector:</h6>
                        <p class="card-text">%%SectorName%% | %%jobsNumber%%</p>
                        <h6 class="card-subtitle text-muted">Most Growth:</h6>
                        <p class="card-text">%% SectorName%% | %%sectorTotal%%</p>
                        <h6 class="card-subtitle text-muted">Smallest Sector:</h6>
                        <p class="card-text">%%SectorName%% | %%jobsNumber%%</p>
                        <h6 class="card-subtitle text-muted">Greatest Decline:</h6>
                        <p class="card-text">%%SectorName%% | %%jobsNumber%%</p>
                      </div>
                    </div>
                </div>
                <!-- End Facts Card Column-->
                <div class="col-md-9">
                    <h5>SLick Carto Map</h5>
                    <a href="https://placeholder.com"><img src="http://via.placeholder.com/800x400"></a>
                </div>
            </div>
            <!-- End Top Section -->
            <!-- State Section -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <hr>
                    <h3>State Snapshots</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                        <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect04" onchange="changeStateData(this.value)">
                                <option selected>Select a State...</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Select</button>
                            </div>
                        </div>
                        <div class="card bg-light mb-3" style="max-width: 18rem;">
                                <!-- <img class="card-img-top" src="holder.js/100px180/" alt=""> -->
                                <div class="card-header">Summary Information</div>
                                <div class="card-body">
                                    <ul id="state_facts">

                                    </ul>
                                </div>
                              </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Cool Graph</h6>
                            <a href="https://placeholder.com"><img src="http://via.placeholder.com/730x200"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                        <h6>Cool Plot</h6>
                        <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
                        </div>
                        <div class="col-md-4">
                        <h6>Cool Bar Chart</h6>
                        <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
                        </div>
                         <div class="col-md-4">
                        <h6>Cool Line Graph</h6>
                        <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <hr>
                    <h3>Overview By Year</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <select class="custom-select" id="inputGroupSelect03">
                            <option selected>Select a Year...</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Select</button>
                            </div>
                    </div>
                    <h6>Top 10 Growth Sectors</h6>
                    <a href="https://placeholder.com"><img src="http://via.placeholder.com/250x500"></a>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Another Viz</h6>
                            <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x200"></a>
                            <h6>Col 1 2nd Viz</h6>
                            <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x200"></a>
                        </div>
                        <div class="col-md-6">
                            <h6>Second Viz</h6>
                            <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x200"></a>
                            <h6>Col 2 2nd Viz</h6>
                            <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x200"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Container -->
        <footer class="footer">
            <div class="container">
                <span class="text-muted text-center">Made by Allen, Gar, Rebecca, and Tully.</span>
            </div>
        </footer>
        <script src="{{url_for('static', filename='js/index.js')}}"></script>
    </body>
</html>